<article class="portfolio-item pf-graphics pf-illustrations">
  <div class="portfolio-image">
    <% if course.images.any? %>
      <div class="fslider" data-arrows="false" data-animation="fade">
        <div class="flexslider">
          <div class="slider-wrap">
            <% @course.images.each do |image| %>
              <div class="slide">
                 <%= link_to image_tag(image.url), "#" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="fslider" data-arrows="false" data-animation="fade">
        <div class="flexslider">
          <div class="slider-wrap">
            <div class="slide"><a href="portfolio-single-gallery.html">
              <img src="/assets/images/magazine/thumb/1.jpg"></a></div>
            <div class="slide"><a href="portfolio-single-gallery.html">
              <img src="/assets/images/magazine/thumb/2.jpg"></a></div>
            <div class="slide"><a href="portfolio-single-gallery.html">
              <img src="/assets/images/magazine/thumb/4.jpg"></a></div>
            <div class="slide"><a href="portfolio-single-gallery.html">
              <img src="/assets/images/magazine/thumb/3.jpg"></a></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="portfolio-desc">
    <h3><a href="portfolio-single-gallery.html"></a><%= course.name %></h3>
    <span><a href="#"><%= course.detail %></a>/<a href="#">
     </a><%= course.training.name %></span>
  </div>
</article>
