<% if current_user %>
  <%= render "education/trainers/show_course" %>
<% else %>
  <section id="page-title">
    <div class="container clearfix">
      <h1><%= @course.name %></h1>
    </div>
  </section>
  <section id="content">
    <div class="content-wrap content-wrap-custom">
      <div class="container clearfix">
        <%= render "detail_course", course: @course, course_members: @show_course.course_members,
          techniques: @show_course.techniques, users: @show_course.users %>
        <div class="clear"></div>
        <%= render "other_course", relations: @show_course.relations %>
      </div>
    </div>
  </section>
<% end %>
