<%= render "form", project: @new_project.project, button_text: t(".create_project") %>
<div class="add_project_member_modal">
  <%= render "add_project_member_modal",
    users: @new_project.users, project: @new_project.project %>
</div>
