<section id="content">
  <div class="content-wrap content-wrap-custom">
    <div class="container clearfix">
      <%= render "detail_project", project: @project, relations: @relations,
        project_members: @project_members %>
    </div>
  </div>
</section>
