<div class="section parallax dark nobottommargin" style="background-image: url('assets/images/services/home-testi-bg.jpg'); padding: 100px 0px; background-position: 50% 7.6px;" data-stellar-background-ratio="0.4">
  <div class="heading-block center">
    <h3><%= t "education.home.clients_say" %></h3>
  </div>
  <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
    <div class="flexslider" style="height: 227px;">
      <div class="slider-wrap">
        <div class="slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
          <div class="testi-image">
            <a href="#"><img src="assets/images/testimonials/3.jpg" alt="Customer Testimonails" draggable="false"></a>
          </div>
          <div class="testi-content">
            <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
            <div class="testi-meta">
              Steve Jobs
              <span>Apple Inc.</span>
            </div>
          </div>
        </div>
        <div class="slide flex-active-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
          <div class="testi-image">
            <a href="#"><img src="assets/images/testimonials/2.jpg" alt="Customer Testimonails" draggable="false"></a>
          </div>
          <div class="testi-content">
            <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
            <div class="testi-meta">
              Collis Ta'eed
              <span>Envato Inc.</span>
            </div>
          </div>
        </div>
        <div class="slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
          <div class="testi-image">
            <a href="#"><img src="assets/images/testimonials/1.jpg" alt="Customer Testimonails" draggable="false"></a>
          </div>
          <div class="testi-content">
            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
            <div class="testi-meta">
              John Doe
              <span>XYZ Inc.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
