<div class="container clearfix">
  <div id="oc-clients" class="owl-carousel image-carousel carousel-widget"
    data-margin="60" data-loop="true" data-nav="false" data-autoplay="5000"
    data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4"
    data-items-md="5" data-items-lg="6">
    <div class="oc-item">
      <a href="#"><img src="assets/images/clients/1.png" alt="Clients"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="assets/images/clients/2.png" alt="Clients"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="assets/images/clients/3.png" alt="Clients"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="assets/images/clients/4.png" alt="Clients"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="assets/images/clients/5.png" alt="Clients"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="assets/images/clients/6.png" alt="Clients"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="assets/images/clients/7.png" alt="Clients"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="assets/images/clients/8.png" alt="Clients"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="assets/images/clients/9.png" alt="Clients"></a>
    </div>
    <div class="oc-item">
      <a href="#"><img src="assets/images/clients/10.png" alt="Clients"></a>
    </div>
  </div>
</div>
