<div class="section topmargin nobottommargin nobottomborder">
  <div class="container clearfix">
    <div class="heading-block center nomargin">
      <h3>Our Projects</h3>
    </div>
  </div>
</div>
<div id="portfolio">
  <%= render "education/projects/project", projects: projects %>
</div>
<div class="clear"></div>
<div class="button button-full button-dark center tright">
  <div class="container clearfix">
    <%= link_to t("education.see_more"), education_projects_path,
      method: :get %> <i class="icon-caret-right"></i>
  </div>
</div>
