<div class="container clearfix">
  <div class="row">
    <div class="heading-block center">
      <h2>Our Programing Languages</h2>
      <span class="divcenter">Philanthropy convener livelihoods, initiative end hunger gender rights local. John Lennon storytelling; advocate, altruism impact catalyst.</span>
    </div>
    <div class="col-md-4 col-sm-6 bottommargin">
      <div class="feature-box fbox-right topmargin" data-animate="fadeIn">
        <div class="fbox-icon">
          <a href="#"><i class="icon-line-heart"></i></a>
        </div>
        <h3>Ruby</h3>
        <p>Stretch your Website to the Full Width or make it boxed to surprise your visitors.</p>
      </div>
      <div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="200">
        <div class="fbox-icon">
          <a href="#"><i class="icon-line-paper"></i></a>
        </div>
        <h3>PHP</h3>
        <p>We have covered each &amp; everything in our Docs including Videos &amp; Screenshots.</p>
      </div>
      <div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="400">
        <div class="fbox-icon">
          <a href="#"><i class="icon-line-layers"></i></a>
        </div>
        <h3>Android</h3>
        <p>Display your Content attractively using Parallax Sections with HTML5 Videos.</p>
      </div>
    </div>
    <div class="col-md-4 hidden-sm bottommargin center">
      <img src="/assets/images/services/iphone7.png" alt="iphone 2">
    </div>
    <div class="col-md-4 col-sm-6 bottommargin">
      <div class="feature-box topmargin" data-animate="fadeIn">
        <div class="fbox-icon">
          <a href="#"><i class="icon-line-power"></i></a>
        </div>
        <h3>IOS</h3>
        <p>Canvas provides support for Native HTML5 Videos that can be added to a Background.</p>
      </div>
      <div class="feature-box topmargin" data-animate="fadeIn" data-delay="200">
        <div class="fbox-icon">
          <a href="#"><i class="icon-line-check"></i></a>
        </div>
        <h3>Java</h3>
        <p>Complete control on each &amp; every element that provides endless customization.</p>
      </div>
      <div class="feature-box topmargin" data-animate="fadeIn" data-delay="400">
        <div class="fbox-icon">
          <a href="#"><i class="icon-bulb"></i></a>
        </div>
        <h3>Front-end</h3>
        <p>Change your Website's Primary Scheme instantly by simply adding the dark class.</p>
      </div>
    </div>
  </div>
</div>
