<div class="row"></div>
<div class="row clearfix bottommargin-lg common-height ">
  <div class="col-md-4 col-sm-4 dark center col-padding" style="background-color: #515875;">
    <div>
      <i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
      <div class="counter counter-lined"><span data-from="100" data-to="846" data-refresh-interval="50" data-speed="2000"></span>K</div>
      <h5>Courses</h5>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 dark center col-padding" style="background-color: #576F9E;">
    <div>
      <i class="i-plain i-xlarge divcenter icon-line2-graph"></i>
      <div class="counter counter-lined"><span data-from="3000" data-to="21500" data-refresh-interval="100" data-speed="2500"></span></div>
      <h5>Trainees</h5>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 dark center col-padding" style="background-color: #6697B9;">
    <div>
      <i class="i-plain i-xlarge divcenter icon-line2-layers"></i>
      <div class="counter counter-lined"><span data-from="10" data-to="408" data-refresh-interval="25" data-speed="3500"></span></div>
      <h5>Trainers</h5>
    </div>
  </div>
</div>
