<div class="tab-content clearfix" id="tab-activities">
  <%= render_activity activities %>
  <div class="center">
    <%= paginate activities, remote: true, params: {tab: "tab-activities"} %>
  </div>
</div>
