@import 'variables/color';

.select-job {
  border-right: 4px;
}

.show-list-candidates {
  tr {
    td:nth-child(2) {
      width: 48px;
    }

    &:hover {
      background-color: $white-eee;
      cursor: pointer;
    }
  }
}

.table {

  .btn-p {
    background: $btn-p;
  }

  .btn-f {
    background: $btn-f;
  }

  .btn-a {
    background: $btn-a;
  }

  .btn-w {
    background: $btn-w;
  }

  .btn-j {
    background: $btn-j;
  }

  .col-check {
    padding-top: 26px;
    width: 4%;
  }

  .col-avatar {
    width: 6%;
  }

  .col-username {
    width: 55%;

    .job {
      border: 2px solid $border-job;
      border-radius: 2px;
      line-height: 20px;
      padding: 0 3px;
    }
  }

  .show-filter-result {
    b {
      border: 1px solid $border-job;
      border-radius: 2px;
      padding: 3px 8px;
    }
  }

  .col-interested {
    width: 20%;
  }

  .col-process {
    width: 15%;

    .process {
      position: relative;
    }

    .popup-change-status {
      background: $white;
      border-radius: 20px;
      box-shadow: 2px 2px 2px $gray-9;
      display: none;
      height: 40px;
      left: -203px;
      padding: 8px 15px;
      position: absolute;
      text-align: center;
      top: 28px;
      width: 355px;
    }

    .btn {
      color: $white;
    }
  }

  .btn-cancel {
    color: $gray-9 !important;
  }

  .ckbox {
    position: relative;
  }

  .ckbox input {
    opacity: 0;
  }

  .ckbox label {
    display: inline;
    user-select: none;
  }

  .ckbox label::before {
    background-color: $white;
    border: 1px solid $border-color-label;
    border-radius: 2px;
    content: '';
    display: inline;
    height: 18px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 18px;
  }

  .ckbox input:checked {
    + label::before {
      background-color: $checked;
      border-color: $checked;
    }

    + label::after {
      color: $white;
      content: '\e013';
      font-family: 'Glyphicons Halflings';
      font-size: 11px;
      left: 3.5px;
      position: absolute;
      top: 3px;
    }
  }

  .star.star-checked {
    color: $color-checked;
  }

  .star:hover {
    color: $gray-80;
  }

  .star.star-checked:hover {
    color: $color-checked;
  }

  .button-filter {
    cursor: pointer;

    &:hover {
      visibility: visible;
    }
  }

  .btn-filter {
    left: -2px;
    position: relative;

    .button-show-filter {
      background: $background-filter;
      border: medium none;
      border-radius: 2px;
      color: $white;
      height: 18px;
      padding: 0;
      width: 17px;
    }

    .button-sort {
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.value-sort {
  padding: 0 20px;

  .list-item-value {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .link {
    margin-bottom: 5px;

    a {
      font-size: 13px;
    }
  }
}

.filter {
  background: $white;
  position: absolute;
  right: 0;
  top: 19px;
  width: 250px;

  ul {
    list-style-type: none;
    padding: 0;
  }

  .button-sort {
    background: $white;
    border: 0;
    color: $gray-black;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    text-align: left;
    width: 100%;

    &:hover {
      background-color: $gray97;
    }
  }

  .button-show-value {
    &::after {
      color: $gray-black;
      content: '\e072';
      float: right;
      font-family: 'Glyphicons Halflings';
      font-size: 10px;
      line-height: 22px;
      transform: rotate(-90deg);
    }
  }

  .button-show-value.collapsed {
    &::after {
      transform: rotate(90deg);
    }
  }


  hr {
    margin-bottom: 3px;
    margin-top: 3px;
  }

  li:last-child {
    padding-left: 20px;

    button {
      margin-right: 10px;
      margin-top: 10px;
      padding: 5px 15px;
    }
  }
}

.checkbox {
  margin-bottom: 5px;
  margin-top: 0;
  padding-left: 20px;

  label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
    vertical-align: middle;
  }

  label::after {
    color: $gray-black;
    display: inline-block;
    font-size: 11px;
    left: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: 0;
  }

  .checkboxitem {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  }

  .checkboxitem:checked {
    + label::after {
      content: '\f00c';
      font-family: 'FontAwesome';
    }
  }

  .checkboxitem:disabled {
    cursor: not-allowed;

    + label {
      opacity: .65;
    }

    + label::before {
      background-color: $white-eee;
      cursor: not-allowed;
    }
  }

}

.stylish-input-group {
  .input-group-addon {
    background: $white !important;
    height: 30px;

    button {
      background: transparent;
      border: 0;
      margin-bottom: 0;
      position: absolute;
      right: -5px;
      top: 7px;
    }
  }

  .form-control {
    border-bottom-left-radius: 4px;
    border-color: $gray-80;
    border-right: 0;
    border-top-left-radius: 4px;
    box-shadow: 0 0 0;
    height: 30px;
  }
}
