@import 'variables/color';

.input.required {
  background-color: $white;
  border: solid 1px $gray-border;
  height: auto;
  margin: 0;
  padding: 20px;

  label {
    color: $gray-label;
    font-size: 14px;
    font-weight: 600;
    margin-right: 0;
    width: 240px;
  }

  h5 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .custab td {
    border: 0;
  }
}

.table {
  margin-bottom: 0;

  ul li {
    line-height: 14px;
    list-style-type: none;
    margin-bottom: 5px;
  }

  .tab-hiring-type {
    .checkbox-hiring {
      width: 30px;
    }
  }

  .tab-can-apply {

    .radio-apply {
      width: 30px;
    }
  }
}

.action-create-job {
  background-color: $gray-border !important;
}

.require {
  color: $red;
  font-weight: normal;
}

.custab .button-right {
  float: right;
}

.tabs.tabs-alt .tab-nav :first-child {
  margin-left: 0;
}

.button-create-job {
  float: right;
  width: 200px;
 }

.button-create-job {
  margin-right: 0;
  position: fixed;
  right: 10%;
  top: 15%;
  z-index: 999;
}
