<% if bookmarked? current_user, job %>
  <%= button_tag id: job.id, class: "btn rm_bookmark btn-bookmarled" do %>
    <i class="glyphicon glyphicon-bookmark" aria-hidden="true"></i>
    <span class="tooltiptext tooltip-left"><%= t ".unbookmark" %></span>
  <% end %>
<% else %>
  <%= button_tag id: job.id, class: "btn add-bookmark" do %>
    <i class="glyphicon glyphicon-bookmark" aria-hidden="true"></i>
    <span class="tooltiptext tooltip-left"><%= t ".bookmark_job" %></span>
  <% end %>
<% end %>
