<% if bookmarked? current_user, job %>
  <%= button_tag id: job.id, class: "button button-large button-border button-rounded rm_bookmark",
    title: t(".unbookmark") do %>
    <i class="glyphicon glyphicon-bookmark" aria-hidden="true"></i>
    <span><%= t ".bookmarked" %></span>
  <% end %>
<% else %>
  <%= button_tag id: job.id, class: "button button-large button-border button-rounded button-green add_bookmark",
    title: t(".bookmark_job") do %>
    <i class="glyphicon glyphicon-bookmark" aria-hidden="true"></i>
    <span><%= t ".bookmark" %></span>
  <% end %>
<% end %>
