<% if check_apply_jobs? current_user.id, job.id %>
  <%= button_tag icon("hand-o-up"), id: job.id,
    class: "btn cancel_apply_job rm_apply applied" %>
  <span class="tooltiptext tooltip-left"><%= t ".unapply" %></span>
<% else %>
  <%= button_tag icon("hand-o-up"), id: job.id,
    class: "btn apply_job add-apply",
    data: {toggle: "modal", target: "myModal",
      qualified_profile: @job_object.qualified_profile?} %>
  <span class="tooltiptext tooltip-left"><%= t ".apply_job" %></span>
<% end %>
