<div id="filter-form" class="hiring-type">
  <%= select_tag :hiring_type, options_for_select(select_hiring_type),
    class: "form-control selectpicker btn-filter", multiple: true,
    "data-actions-box": true %>
</div>
