<section class="job-show-main-section job-description">
  <header>
    <div class="row">
      <h3 class="title-section col-md-9"><%= t ".description" %></h3>
    </div>
  </header>
  <div class="section-body">
    <p id="des_job"><%= @job.describe %></p>
  </div>
</section>
