<h3 class="widget-title text-uppercase text-center">
  <%= t ".members", company: @job.company_name %>
</h3>
<div class="instragram-follow">
  <% if @job_object.members.present? %>
    <% @job_object.members
      .limit(Settings.jobs.limit_user_show).each do |member| %>
      <%= link_to load_user_avatar(member,
        width: Settings.jobs.image_member_size), member %>
    <% end %>
  <% end %>
</div>
