<span class="dropdown message-show">
  <button class="dropdown-toggle" type="button" data-toggle="dropdown">
    <%= icon "comments" %>
    <span class="badge badge-pill badge-default">
      5
    </span>
  </button>
  <div class="dropdown-menu friend-ship-box">
    <h4><%= t ".message" %></h4>
    <hr>
    <div class="show-request">
    </div>
  </div>
</span>
