<div class="spost clearfix">
  <div class="entry-image">
    <%= load_image_job job %>
  </div>
  <div class="entry-c">
    <div class="entry-title">
      <h4><%= link_to job.title, job_path(job) %></h4>
    </div>
    <ul class="entry-meta">
      <li><i class="icon-comments-alt"></i><%= t ".comments" %></li>
    </ul>
  </div>
</div>
