<% @job_object.recommend_user.each do |user| %>
  <div class="spost clearfix">
    <div class="entry-image">
      <%= image_tag user.avatar.present? ? user.avatar.url : "default.jpg",
        class: "img-circle" %>
    </div>
    <div class="entry-user">
      <div class="entry-title">
        <h4><%= link_to user.name, "#" %></h4>
      </div>
    </div>
  </div>
<% end %>
<div id="show_more" class="more-link">
  <%= t ".show_more" %>
</div>
