<div class="inner-addon right-addon">
  <i class="glyphicon glyphicon-search"></i>
  <%= text_field_tag :job_search, params[:job_search],
    placeholder: t(".search"), remote: true,
    class: "form-control search-form" %>
</div>
