<% provide :title, t(".title") %>
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="postcontent nobottommargin clearfix">
        <div id="post" class="small-thumbs alt">
          <%= render @jobs if @jobs.any? %>
        </div>
      </div>
      <div class="sidebar nobottommargin col_last clearfix">
        <div class="sidebar-widgets-wrap">
          <div class="widget clearfix">
            <h3><%= t ".popular_job" %></h3>
            <div id="popular-post-list-sidebar">
              <% @jobs.last(5).each do |popular| %>
                <%= render "popular_job", job: popular %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
