<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="style.css" type="text/css" />
  <link rel="stylesheet" href="css/dark.css" type="text/css" />
  <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="css/animate.css" type="text/css" />
  <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
  <link rel="stylesheet" href="css/responsive.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <title>404 | FCFS</title>
</head>
<body class="stretched">
  <div id="wrapper" class="clearfix">
    <section id="slider" class="slider-parallax full-screen dark error404-wrap">
      <div class="slider-parallax-inner">
        <div class="container vertical-middle center clearfix">
          <div class="error404">404</div>
          <div class="heading-block nobottomborder">
            <h4>Ooopps.! The Page you were looking for, couldn't be found.</h4>
            <span>Try the search below to find matching pages:</span>
          </div>
          <form action="#" method="get" role="form" class="divcenter nobottommargin">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" placeholder="Search for Pages...">
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button">Search</button>
              </span>
            </div>
          </form>
        </div>
        <div class="video-wrap">
          <%= video_tag(["FRAMGIA_INTRODUCTION.mp4"],
            autoplay: true, loop: true, muted: true) %>
          <div class="video-overlay" style="background-color: rgba(0,0,0,0.3);"></div>
        </div>
      </div>
    </section>
  </div>
  <div id="gotoTop" class="icon-angle-up"></div>
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/functions.js"></script>
</body>
</html>
