<% if user.is_user? current_user %>
  <div id="job-show-wrapper">
    <div id="job-show-body">
      <div class="row two-column">
        <aside class="col-md-12 column-main">
          <div class="column-main-inner">
            <%= render "job_accordance", jobs: user_object.bookmarked_jobs,
              job_page: :bookmarked_jobs_page %>
          </div>
        </aside>
        <aside class="col-md-0 column-side">
        </aside>
      </div>
    </div>
  </div>
<% end %>
