<%= render partial: "jobs/job", collection: jobs %>
<div class="load-more">
  <button type="button" class="btn btn-info"><%= t ".see_more" %></button>
  <%= paginate jobs, param_name: job_page %>
</div>
