<% if languages.present? %>
  <% languages.each do |language| %>
    <div class="org-search col-md-12" data-name="<%= language.name %>">
      <div class="col-md-10 col-sm-10">
        <%= language.name %>
      </div>
      <li class="divider"></li>
    </div>
  <% end %>
<% end %>

<%= javascript_include_tag "language_search" %>
