<%= link_to new_user_post_path,
  class: "button button-3d button-small button-rounded button-green button-light button-white-text btn-add-user-education" do %>
  <span class="icon-plus-sign"></span> <%= t ".add" %>
<% end %>
