<span class="user-education-title">
  <%= t ".education" %>
</span>
<%= link_to new_user_education_path, remote: true,
  class: "button button-3d button-mini button-rounded button-white button-light btn-add-user-education" do %>
  <span class="icon-plus-sign"></span> <%= t ".add" %>
<% end %>
<hr>
<div class="list-user-education">
  <%= render partial: "user_educations/user_education",
    collection: user.user_educations.includes(:school).sort_by_graduation %>
</div>

<div class="render-form-user-education-modal"></div>
