<div class="row">
  <div class="panel panel-default user-info-panel">
    <div class="user-education">
      <strong class="user-education-title">
        <%= t ".education" %>
      </strong>
      <% if user.is_user? current_user %>
        <%= link_to new_user_education_path, remote: true,
          class: "button button-3d button-small button-rounded button-green button-light button-white-text btn-add-user-education" do %>
          <i class="icon-plus-sign"></i>
          <%= t ".add" %>
        <% end %>
      <% end %>
      <div class="list-user-education">
        <%= render partial: "user_educations/user_education",
          collection: user.user_educations.includes(:school).sort_by_graduation %>
      </div>
    </div>
    <div class="render-form-user-education-modal"></div>
  </div>
</div>
