<div class="tagcloud clearfix bottommargin">
  <a href="#">general</a>
  <a href="#">information</a>
  <a href="#">media</a>
  <a href="#">press</a>
  <a href="#">gallery</a>
  <a href="#">illustration</a>
</div>
