<% if skills.blank? %>
  <li>
    <%= "#{t ".no_result"} #{params[:search]}" %>
  </li>
<% else %>
  <div class="scrollable-menu">
    <% skills.each do |skill| %>
      <li class="skill-info-result">
        <p class="skill-name"><%= skill.name %></p>
      </li>
    <% end %>
  </div>
<% end %>

<%= javascript_include_tag "user_skill_search_result" %>
