.row-course {
  padding-left: 40px;
  padding-right: 20px;
}

.fslider {
  .slide a {
    width: 90%;
  }
}

.portfolio-item {
  .carousel {
    a {
      width: 90%;
    }
  }

  img {
    height: 250px !important;
  }
}

.fslider.flex-thumb-grid {
  .flex-control-nav.flex-control-thumbs li {
    height: 50px !important;
  }
}

.entry-image img {
  height: 200px !important;
}

.nobottommargin {
  display: block;
  margin-right: 10px;
  margin-top: 3px;
}

.courses-search {
  padding-left: 0;
}
