<% provide :title, t(".title") %>
<section id="slider" class="slider-parallax swiper_wrapper
  full-screen clearfix">
  <div class="slider-parallax-inner">
    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
        <div class="swiper-slide dark slide-custom">
          <div class="bg-slide-custom">
            <img src="/assets/welcome1.jpg">
          </div>
        </div>
        <div class="swiper-slide dark slide-custom">
          <div class="video-wrap">
            <video id="slide-video" poster="/assets/videos/explore.jpg"
              preload="auto" loop autoplay muted>
              <source src="/assets/videos/explore.webm" type="video/webm" />
              <source src="/assets/videos/explore.mp4" type="video/mp4" />
            </video>
            <div class="video-overlay"></div>
          </div>
        </div>
        <div class="swiper-slide dark slide-custom">
          <div class="bg-slide-custom">
            <img src="/assets/welcome2.jpg">
          </div>
        </div>
      </div>
      <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
      <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
    </div>
    <a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow">
      <i class="icon-angle-down infinite animated fadeInDown"></i>
    </a>
  </div>
</section>
