<fieldset class="input required job-title">
  <div class="custab">
    <label class="required control-label">
      <%= t ".title" %> <span class="require">*</span>
    </label>
    <%= f.text_field :title, required: true, class: "form-control",
      placeholder: t(".placeholder_title") %>
  </div>
</fieldset>
<fieldset class="input required job-des">
  <div class="custab">
    <label class="required control-label">
      <%= t ".description" %> <span class="require">*</span>
    </label>
    <%= f.text_area :describe, required: true, class: "form-control",
      rows: 5, placeholder: t(".placeholder_des") %>
  </div>
</fieldset>
