<div class="container">
  <div class="modal" id="show-candidates-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= t ".all_candidates" %></h4>
        </div>
        <div class="modal-body modal-show-candidates">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t ".close" %></button>
        </div>
      </div>
    </div>
  </div>
</div>
