<div class="postcontent nobottommargin col_last clearfix">
  <div class="x_panel">
    <div class="x_title">
      <h2><%= t ".job_recruitment" %></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br />
      <%= render "form", url: employer_company_jobs_path %>
    </div>
  </div>
</div>
