<% candidates.each_with_index do |candidate, index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= candidate.user_email %></td>
    <td><%= candidate.job_title %></td>
    <td><%= candidate.interested_in %></td>
  </tr>
<% end %>
