<section>
  <div class="container">
    <div class="row">
      <%= render "show_left_main_content", company: company, company_jobs: company_jobs, articles: articles %>
      <%= render "show_right_main_content", company: company %>
    </div>
  </div>
</section>
