<p>
  <%= quote_content info_user.quote %>
  <% if info_user.user.is_user? current_user %>
    <span class="edit-education">
      <span class="pull-right nomargin">
        <a href="#" id="edit-quote"
          data-toggle="modal" data-target="#edit-quote-modal">
          <span class="icon-pencil"></span> <%= t ".edit" %>
          </a>
      </span>
    </span>
  <% end %>
</p>
