$white: #fff;
$white-93opacity: rgba(255, 255, 255, .93);
$white-gray: #f5f5f5;
$white-eee: #eee;
$black-background: rgba(0, 0, 0, .15);
$light-sea-green: #1abc9c;
$black-light: #444;
$lighter: rgba(0, 0, 0, .55);
$gray: rgba(0, 0, 0, .15);
$gray-ddd: #ddd;
$blue-light: #a5cef5;
$blue: #08c;
$gray-black: #555;
$gray-aaa: #aaa;
$orange: #e67e22;
$black-60opacity: rgba(0, 0, 0, .6);
$black-30opacity: rgba(0, 0, 0, .3);
$bluish: #4c7aaf;
$dark-gray: #555;
$gray-compa: #6a6e71;
$white-gray-table: #e3e3e3;
$light-teal: #b2dfdb;
$lighter-gray-40: #676767;
$lighter-gray-85: #d8d8d8;
$lighter-gray-44: #717171;
$black-20opacity: rgba(0, 0, 0, .2);
$black: #000;
$black-1opacity: rgba(0, 0, 0, .1);
$black-05opacity: rgba(0, 0, 0, .05);
$black-6opacity: rgba(0, 0, 0, .6);
$gray87: #ddd;
$gray97: #f7f7f7;
$gray-blue: #dbe3e8;
