@import 'variables/color';

article {
  border: 0;

  p {
    text-align: justify;
  }
}

.list-article {
  padding-bottom: 40px;
  padding-top: 15px;
}

.new-article {
  bottom: 0;
  padding-bottom: 68px;
  padding-left: 50px;
  position: fixed;
  right: 32px;

  .btn-circle.btn-xl {
    border-radius: 35px;
    font-size: 24px;
    height: 70px;
    line-height: 1.33;
    padding: 20px;
    width: 70px;
  }

  .plus {
    padding-top: 10px;
  }
}

.form-article {
  .article-description {
    height: 170px;
  }

  .title {
    height: 20px;
  }
}

.article-list {
  margin-left: 20px;
  margin-top: 60px;
}

.article-item {
  background: $white;
  box-shadow: 0 3px 6px $box-shadow-1, 0 3px 6px $box-shadow-2;
  margin-bottom: 20px;
  padding: 20px 40px;

  .article-title {
    font-size: 25px;
    margin-top: 0;
  }

  .article-body {
    font-size: 16px;
    text-align: justify;
  }
}

.box-danger {
  color: $white;
  font-size: 10px;
  padding: 5px;
}

.message {
  margin-top: 50px;
  padding: 10px;
  position: fixed;
  right: 20px;
  width: 30%;
  z-index: 100;
}

.fix-size {
  width: 100px;
}

.full-size {
  width: 800px;
}

.add {
  background: $dark-gray;
  height: 300px;
  padding: 10%;
}

.btn-blog {
  background-color: $btn-blog;
  border-color: $btn-blog;
  border-radius: 0;
  color: $white;
  margin-bottom: 10px;
}

.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
  background-color: $article-title;
  border-color: $article-title;
  color: $white;
}

.margin10 {
  margin-bottom: 10px;
  margin-right: 10px;
}

.fix-boder {
  border-bottom: 1px solid $border-fix;
}

.article-content {
  p {
    line-height: 1.5;
    margin: 30px 0;
  }

  h1 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
  }
}

.filter {
  background: $white;
  position: absolute;
  right: 0;
  top: 19px;
  width: 250px;

  ul {
    list-style-type: none;
    padding: 0;
  }

  .button-sort {
    background: $white;
    border: 0;
    color: $gray-black;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    text-align: left;
    width: 100%;

    &:hover {
      background-color: $gray97;
    }
  }

  .button-show-value {
    &::after {
      color: $gray-black;
      content: '\e072';
      float: right;
      font-family: 'Glyphicons Halflings';
      font-size: 10px;
      line-height: 22px;
      transform: rotate(-90deg);
    }
  }

  .button-show-value.collapsed {
    &::after {
      transform: rotate(90deg);
    }
  }


  hr {
    margin-bottom: 3px;
    margin-top: 3px;
  }

  li:last-child {
    padding-left: 20px;

    button {
      margin-right: 10px;
      margin-top: 10px;
      padding: 5px 15px;
    }
  }
}

.stylish-input-group {
  .input-group-addon {
    background: $white !important;
    height: 30px;

    button {
      background: transparent;
      border: 0;
      margin-bottom: 0;
      position: absolute;
      right: -5px;
      top: 7px;
    }
  }

  .form-control {
    border-bottom-left-radius: 4px;
    border-color: $gray-80;
    border-right: 0;
    border-top-left-radius: 4px;
    box-shadow: 0 0 0;
    height: 30px;
  }
}

.intro-header {
  background: no-repeat center center;
  background-attachment: scroll;
  background-color: $gray;
  background-size: cover;
  margin-bottom: 50px;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  color: $white;
  padding: 100px 0 50px;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}

.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}

.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  margin: 10px 0 0;
}

.article-show {
  background-color: $white;
}

.size-default {
  height: 200px;
  width: 310px;
}
