@import 'variables/color';

.award {
  float: right;
  text-transform: capitalize !important;
}

.title-award {
  font-size: 20px !important;
  font-weight: bold;
  line-height: 22px !important;
}

.show-award {
  padding-top: 20px;
}

.content-award {
  padding-left: 20px;
}

.award-padding {
  padding-bottom: 20px;
}

.details-award {
  color: $gray-9;
  float: right;
}

.button-modal-award {
  display: flex;
  justify-content: flex-end;
}

.award-form {
  margin-bottom: 0 !important;
}

.award-header {
  font-size: 20px;
}

.award-hover {
  display: flex;
  justify-content: space-between;
}

.hover-content {
  padding-right: 5px;
}
