@import 'variables/color';

.btn-add-certificate {
  float: right;
  text-transform: capitalize !important;
}

.user-certificate {
  font-size: 20px;
  padding-bottom: 20px;
}

.user-certificate-title {
  font-weight: bold;
}

.certificate-info {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;

  p {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.qualified-time {
  float: right;
  font-size: 15px;
  opacity: .6;
}

.certificate-name {
  font-size: 17px;
  font-weight: 800;
  opacity: .8;
}

.qualified-organization {
  font-size: 17px;
  font-weight: 500;
  opacity: .8;
}

.edit-certificate {
  font-size: 13px;
  font-style: italic;
  margin-left: 20px;

  a {
    color: $blue;
  }
}
