@import 'variables/color';

.bg-login {
  background: url('welcome1_blur.png') center center no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.pnl-login {
  background-color: $white-93opacity !important;
  max-width: 400px;
}
