//= require_tree ./variables
//= require_tree ./employer
//= require sweetalert2
//= require company_info

@import 'gentelella';
@import 'gentelella/gentelella-custom';
@import 'variables/color';

.box-danger {
  color: $white;
  font-size: 10px;
  padding: 5px;
}

.message {
  margin-top: 50px;
  padding: 10px;
  position: fixed;
  right: 20px;
  width: 30%;
  z-index: 100;
}
