@import 'variables/color';

.container-request {
  min-height: 500px;
}

.name-friend-suggest {
  font-weight: 600;
  text-transform: capitalize;
}

.friend-suggest {
  color: $gray-9;
  font-size: 12px;
}

.suggest {
  padding-bottom: 20px;
}

.center-custom {
  padding-top: 20px;
}

.request-friend-index {
  padding-bottom: 20px;

  .fa {
    font-size: 22px;
    margin-right: 5px;
    padding: 0;
    padding-top: 6px;
    }

  .fa-check-circle {
    color: $check-friend-request;
  }

  .fa-times-circle {
    color: $remove-friend-request;
  }
}

.clearfix-padding {
  padding-bottom: 20px;
}

.suggest-padding {
  padding-bottom: 30px;
}
