@import 'variables/color';

.introduction-form-button {
  float: right;
}

.modal-txta {
  border: 0;
}

.modal-footer-info-user {
  margin-bottom: -25px;
}

.info-user-height {
  min-height: 50px;
}
