@import 'variables/color';

.file-input {
  .btn-file {
    background-color: $orange;
    border: $orange;

    ::selection {
      color: $orange;
    }
  }
}

.more-link {
  border: 0;
  border-bottom: 1px solid $orange;
  color: $orange !important;
  display: inline-block;
  font-family: 'Crete Round',serif;
  font-style: italic;
  padding: 0 2px;
  text-decoration: underline;

  &:hover {
    background-color: $white;
    color: $black !important;
  }

  &-delete-custom {
    color: $red !important;
  }
}

.user-post-search {
  margin-top: 5px;
}

.user-post-content {
  margin-right: 10px;
}

.user-post-image {
  margin-left: 10px;
}
