@import 'variables/color';

.btn-add-user-education {
  float: right;
}

.user-education-title {
  font-weight: bold;
}

.education-info {
  margin-bottom: 20px;

  p {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.education-graducation {
  float: right;
  font-size: 15px;
  opacity: .6;
}

.education-school-name {
  font-size: 19px;
  opacity: .8;
}

.education-major {
  font-style: italic;
  opacity: .8;
}

.edit-education {
  font-size: 13px;
  font-style: italic;
  margin-left: 20px;

  a {
    color: $blue;
  }
}

.school-info-result {
  margin: 10px;
}

.school-info-result:hover {
  background-color: $blue-light;
  cursor: pointer;
}

.dropdown-result-school {
  height: auto;
  max-height: 200px;
  overflow-y: auto;
}

.school-student-count {
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0;
}

.school-name {
  margin-bottom: 0;
  margin-top: 0;
}
