@import 'variables/color';

.portfolio {
  float: right;
  text-transform: capitalize !important;
}

.title-portfolio {
  font-size: 20px !important;
  font-weight: bold;
  line-height: 22px !important;
}

.show-portfolio {
  padding-top: 20px;
}

.content-portfolio {
  padding-left: 20px;
}

.portfolio-padding {
  padding-bottom: 20px;
  padding-top: 20px;
}

.details-portfolio {
  color: $gray-9;
}

.button-modal {
  float: right;
  padding-top: 5px;
}

.links-form-project {
  display: inline-table;
  width: 100%;
}

.portfolio-image {
  height: 80px !important;
}

.input-file {
  display: none !important;
}

.button-portfolio-modal {
  display: flex;
  justify-content: flex-end;
}

.portfolio-form {
  margin-bottom: 0 !important;
}

.button-white-text {
  color: $white !important;
}

.user-portfolio-header {
  font-size: 20px;
}
