<%= f.fields_for :addresses do |ff| %>
  <div class="form-group">
    <%= ff.label :address, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= ff.text_field :address, value: address.address,
        class: "form-control col-md-6 col-xs-12" %>
    </div>
  </div>
<% end %>
