<div class="fieldset form-group form-inline">
  <div class="col-md-4">
    <label>image1</label>
  </div>
  <input type="file">
</div>
<div class="fieldset form-group form-inline">
  <div class="col-md-4">
    <label>image2</label>
  </div>
  <input type="file">
</div>
