<div class="col-md-6">
  <input class="upload_image" type="file">
  <div id="logo" class="logo-custom">
    <a href="#" class="standard-logo"
      data-dark-logo="/assets/logo-framgia.png">
      <%= image_tag "logo-framgia.png", alt: t("education.logo_alt") %>
    </a>
  </div>
</div>
