<div class="col-md-6">
  <div id="logo" class="logo-custom">
    <a href="#" class="standard-logo"
      data-dark-logo="/assets/logo-framgia.png">
      <img src="/assets/logo-framgia.png" alt="<%= t "education.logo_alt" %>">
    </a>
  </div>
  <input class="file-image" type="file">
</div>
