<footer class="footer-widget-section">
  <div class="footer-copy">
    <div class="text-center">&copy; 2017
      <%= link_to root_path do %>
        <%= image_tag "logo-framgia.png",
          alt: t("education.logo_alt"),
          width: Settings.education.home_page.logo_footer_size %>
      <% end %>
    </div>
  </div>
</footer>
