<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">
  <div id="header-wrap" class="header-wrap-custom">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      <div id="logo" class="logo-custom">
        <a href="#" class="standard-logo" data-dark-logo="/assets/logo-framgia.png">
          <img src="/assets/logo-framgia.png" alt="<%= t "education.logo_alt" %>"></a>
      </div>

      <nav id="primary-menu" class="dark login-modal">
        <ul class="list-header-custom">
          <% if user_signed_in? %>
            <li>
              <%= link_to t(".logout"), destroy_user_session_path,
                method: :delete %>
            </li>
          <% else %>
            <li>
              <a href="#" data-toggle="modal" data-target="#myModal">
                <%= t ".login" %>
              </a>
            </li>
          <% end %>
        </ul>
      </nav>

    </div>
  </div>
</header>
<div class="modal fade" id="myModal" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-body">
      <%= render "devise/sessions/form_login" %>
    </div>
  </div>
</div>

